@import url("https://fonts.googleapis.com/css?family=Lora:regular,700&display=swap");

@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Medium.woff2") format("woff2"),
    url("../fonts/Lato-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Bold.woff2") format("woff2"),
    url("../fonts/Lato-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Regular.woff2") format("woff2"),
    url("../fonts/Lato-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* Стили обнуления */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
}
li {
  list-style: none;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}
img {
  vertical-align: top;
}

body {
  font-family: "Lato", sans-serif;
  font-size: 20px;
}

/* --------------- */

h1 {
  font-family: "Lora", serif;
  font-size: 52px;
  line-height: 127%;
  text-indent: 25px;
  text-shadow: 5px 10px 5px rgb(228, 188, 188);
}

.title__span {
  color: rgba(221, 44, 0, 1);
}

.text {
  white-space: nowrap;
  color: #c10020;
}

.text_item {
  text-transform: capitalize;
}

.text__span {
  text-decoration: underline;
  color: rgba(0, 0, 0, 0.3);
  font-weight: bold;
  font-size: 22px;
}

h2 {
  color: red;
  text-decoration: line-through;
  font-size: 24px;
  text-align: center;
}

.subtitle {
  text-decoration: none;
  text-transform: uppercase;
}

#style {
  color: rgb(114, 255, 71);
}

p {
  color: tomato;
}

p.text {
  color: firebrick;
}

.text.item {
  color: wheat;
}

p span {
  color: yellow;
}

.shadow {
  text-shadow: 2px 2px 5px rgb(245, 173, 173);
}

.footer__link {
  color: green;
}

.main,
.second {
  font-size: 20px;
}

p > span {
  font-weight: bold;
}

.second__text {
	text-align: justify;
}

.second__text span {
  color: black;
  letter-spacing: 5px;
  word-spacing: 10px;
}
