/* Стили обнуления */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
}
li {
  list-style: none;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}
img {
  vertical-align: top;
}
/* --------------- */

h2 {
  color: red;
}

#style {
  color: rgb(114, 255, 71);
}

p {
  color: tomato;
}

p.text {
  color: firebrick;
}

.text.item {
  color: wheat;
}

p span {
  color: yellow;
}

.footer__link {
  color: green;
}

.main,
.second {
  font-size: 20px;
}

p > span {
  font-weight: bold;
}

.second__text span {
  color: black;
}
